obj/
sysroot/
.vscode/settings.json

ports/*/*
!ports/*/build.sh
!ports/*/Makefile
!ports/*/README.md
!ports/*/*.patch
!ports/*/*.template

tools/*/*
!tools/*/Makefile

lib/newlib-4.4.0.20231231/

tarballs/
